<u><p class="name-lg">Book Info</p></u>
<i class="name margins">Author</i>
<p class="name-lg margins-all">{{model.author.name}}</p>
<br />
<i class="name margins">Title</i>
<p class="name-lg margins-all">{{model.title}}</p>
<br />
<i class="name margins">Publication Date</i>
<p class="name-lg margins-all">{{model.date}}</p>
