html{
	background-color: #FAEBD7;
}
*{
	font-family: Courier New;
}

.center{
	text-align:center;

}
.flex{
	display: flex;
	justify-content: center;
}
.name{
	font-size: 20px;
}
.name-lg{
	font-size: 30px;
}
.title{
	font-size: 40px;
}
.button-error {
		 background: rgb(202, 60, 60); /* this is a maroon */
		 /* height:2em; */
		 /* width:auto; */
	 }
.margins{
	margin-bottom: 0;
}
.margins-all{
	margin: 0;
}
.remove{
	text-decoration: none;
}
