<div class="flex pure-g">
  <div class="center pure-u-1">
<h1 class="title"> Authors </h1>
<div>
    <form class="pure-form" {{action 'createAuthor' on='submit'}}>
        {{input required=true value=newAuthor placeholder="Enter Authors Name"}}
        <button class="pure-button" >Add Author</button>
    </form>
    <br />
</div>
    {{#list-filter class="pure-form" filter=(action "filterByName") as |filteredResults|}}
    <br />
        {{#each filteredResults as |author|}}
            <div class="center pure-u-1-4">
                {{author-object author=author}}
            </div>
        {{/each}}
    {{/list-filter}}
    <br><br>
 </div>
</div>
