<div class="center">
    {{book-description model=model}}
    <div>
        <br>
        <form class="pure-form" {{action 'updateName' model.id on='submit'}}>
            {{input required=true value=newTitle placeholder="Update Book Title"}}
            <button class="pure-button">Update Title</button>
        </form>
    </div>
</div>
{{outlet}}
